body{
    background-color: darkgreen;
}

header{
    text-align: center;
}

section{
    background-color: black;
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

footer{
    text-align: center;
}